* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-padding-top: 14vh;
}

body {
    display: flex;
    justify-content: center; 
    background-color:rgb(240, 240, 240);
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    color: rgb(31, 31, 31);
}

header {
    padding: 30px;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    color: teal;
}

h2 {
    border-bottom: 5px solid rgb(31, 31, 31);
    display: inline-block;
}

.centered {
    text-align: center;
}

.no-underline {
    border-bottom: 0px;
}

a {
    color: teal;
    font-weight: 700;
}

a:hover {
    color: tomato;
}

.wrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 60%;
    padding: 50px;
    height: fit-content;
}

.content {
    width: 90%;
    padding-top: 100px;
    line-height: 1.6;
}

.login {
    width: fit-content;
    padding-top: 8vh;
    margin: 0 auto;
}

.login h3 {
    text-align: center;
}

.submit {
    text-align: center;
    margin-bottom: 30px;
}

.text-block {
    text-align: center;
}

.login form {
    width: fit-content;
    margin: 0 auto;
}

.boxed {
    background-color: white;
    margin: 15px;
    padding: 15px; 
    border-radius: 15px;
}

.line-breaks {
    white-space: pre-wrap;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 13vh;
    width: 100%;
    background-color: rgb(89, 23, 151);
    font-family: 'Karla', sans-serif;
    position: fixed;
    z-index: 1;
}

.logo {
    color: rgb(240, 240, 240);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 24px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.nav-links li{
    list-style: none;
}

.nav-links a {
    color: rgb(240, 240, 240);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

.nav-links a:hover {
    color: tomato;
}

.button {
    background-color: teal;
    border: none;
    color: white;
    padding: 10px 20px;
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    border-radius: 10px;
  }

.button:hover {
    cursor:pointer;
    background-color: tomato;
  }

.listing {
    display: flex;
    margin: 10px 0 20px 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
    text-align: center;
    table-layout: fixed;
}

table .button {
    margin: 15px;
}

th {
    padding: 20px;
}

td {
    padding: 8px 8px 8px 20px;
}

.review-link {
    margin-top: 10px;
}

tr:nth-child(odd) {
    background-color: rgb(221, 231, 231);
}

.larger-line-height {
    line-height: 2.5;
}

form {
    width: fit-content;
    margin: 0 auto;
}

.form-group {
    padding: 10px 0 15px 0;
}

.form-field {
    background-color: white;
    padding: 10px; 
    border-radius: 10px;
    border: 1px solid rgb(173, 173, 173);
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    color: rgb(31, 31, 31);
}

.inline {
    display:flex;
    flex-direction:row;
    align-items: flex-end;
}

.left {
    display:flex;
    flex-direction:column;
    margin-right: 20px;
}

.right {
    display:flex;
    flex-direction:column;
}

.text {
    padding: 20px;
}

ol {
    line-height: 2;
    padding: 20px;
}

ol li {
    padding: 10px;
}

ul {
    line-height: 2;
    padding: 0 20px;
}

ul a {
    font-weight: 400;
}

.review-submitted {
    text-align: center;
    padding: 0 0 10px 0;
}

hr {
    border: 0;
    border-top: 1px solid  rgb(173, 173, 173);
}