{% extends "layout.html" %}
{% block body %}
<div class="wrapper">
    {% if session.show_admin %}
    <div class ="content">
        <header>
            <h2>Lisää jäsen</h2>
        </header>
        <div class="form">

        </div>
        <form action="/members/add_member" method="POST" novalidate>
            {{ form.csrf_token }}
            <div class="form-group">
                <h3>Nimi:</h3>
                {{ form.name(size=50, class="form-field") }}
                {% for error in form.name.errors %}
                <p style="color: red;">[{{ error }}]</p>
                {% endfor %}</p>
            </div>
            <div class="form-group">
                <h3>Käyttäjänimi:</h3>
                {{ form.username(size=50, class="form-field") }}
                {% for error in form.username.errors %}
                <p style="color: red;">[{{ error }}]</p>
                {% endfor %}</p>
            </div>
            <div class="form-group">
                <h3>Salasana:</h3>
                {{ form.password(size=50, class="form-field") }}
                {% for error in form.password.errors %}
                <p style="color: red;">[{{ error }}]</p>
                {% endfor %}</p>
            </div>
            <div class="form-group">
                <h3>Toista salasana:</h3>
                {{ form.confirm_password(size=50, class="form-field") }}
                {% for error in form.confirm_password.errors %}
                <p style="color: red;">[{{ error }}]</p>
                {% endfor %}</p>
            </div>
            <div class="form-group">
                <h3>Sähköposti:</h3>
                {{ form.email(size=50, class="form-field") }}
                {% for error in form.email.errors %}
                <p style="color: red;">[{{ error }}]</p>
                {% endfor %}</p>
            </div>
            <div class="form-group">
                <h3>Admin:</h3>            
                {% for subfield in form.role %}
                    <tr>
                        <td>{{ subfield }}</td>
                        <td>{{ subfield.label }}</td>
                    </tr>
                {% endfor %}
                {% for error in form.role.errors %}
                <p style="color: red;">[{{ error }}]</p>
                {% endfor %}
            </div>
            <div class="submit">{{ form.submit(class="button") }}</div>
        </form>
    </div>
    {% else %}
    <h2>Ei oikeuksia</h2>
    {% endif %}
</div>
{% endblock %}