{% extends "layout.html" %}

{% block body %}
{% if session.show_admin %}
<div class ="container">
    {% if message %}
        <p class="message">{{ message | safe }}</p>
    {% endif %}
    <p>Kaikki kentät tulee täyttää</p>
    <form action="/submit_member" method="POST">
        <div class="form-group">
            <h3>Nimi:</h3>
            <input type="text" name="name">
        </div>
        <div class="form-group">
            <h3>Käyttäjänimi:</h3>
            <input type="text" name="username">
        </div>
        <div class="form-group">
            <h3>Salasana:</h3>
            <input type="password" name="password">
        </div>
        <div class="form-group">
            <h3>Sähköposti:</h3>
            <input type="email" name="email">
        </div>
        <div class="form-group">
            <h3>Admin:</h3>            
            <input type="radio" name="role" value="user" checked> Ei <br>
            <input type="radio" name="role" value="admin"> Kyllä <br>
        </div>
        <input type="submit" value="Lisää jäsen" class="btn" />
    </form>
</div>
{% else %}
<h2>Ei oikeuksia</h2>
{% endif %}
{% endblock %}