{% extends "layout.html" %}
{% block body %}
<div class="wrapper">
    {% if session.show_admin %}
    <div class ="content">
        <header>
            <h2>Lisää elokuva</h2>
        </header>
        <form action="/films/add_film" method="POST" novalidate>
            {{ form.csrf_token }}
            <div class="form-group">
                <h3>Elokuvan nimi:</h3>
                {{ form.name(size=50, class="form-field") }}
                {% for error in form.name.errors %}
                <p style="color: red;">[{{ error }}]</p>
                {% endfor %}
            </div>
            <div class="inline">
                <div class="left">
                    <h3>Elokuvan genre:</h3>
                    {{ form.genre(size=1, class="genre")}}
                    {% for error in form.genre.errors %}
                    <p style="color: red;">[{{ error }}]</p>
                    {% endfor %}
                </div>
                <div class="right">
                    <h3>Julkaisuvuosi:</h3>
                    {{ form.release_year(size=15, class="form-field") }}
                    {% for error in form.release_year.errors %}
                    <p style="color: red;">[{{ error }}]</p>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                <h3>Kuvaus:</h3>
                {{ form.description(cols=49, rows=12, class="form-field") }}
                {% for error in form.description.errors %}
                <p style="color: red;">[{{ error }}]</p>
                {% endfor %}
            </div>
            <div class="submit">{{ form.submit(class="button") }}</div>
        </form>
    </div>
    {% else %}
    <h2>Ei oikeuksia</h2>
    {% endif %}
</div>

{% endblock %}