{% extends "layout.html" %}
{% block body %}
<div class="wrapper">
    {% if session.show_admin %}
    <div class="content">
        <header>
            <h2>Admin</h2>
        </header>
        <div class="larger-line-height">
            <h3><a href="{{ url_for('add_film') }}">Lisää elokuva</a></h3>
            <h3><a href="{{ url_for('members') }}">Jäsenet</a></h3>
            <h3><a href="{{ url_for('loans') }}">Hallitse lainoja</a></h3>
        </div>
        {% else %}
        <h2>Ei oikeuksia</h2>
    </div>
    {% endif %}
</div>
{% endblock %}
                