{% extends "layout.html" %}
{% block body %}
<div class="wrapper">
    {% if session.username %}
    <div class="content">
        <header>
            <h2>Elokuvat</h2>
        </header>
        <div class="listing">
            <table>
                {% for film in films %}
                <tr>
                    <td class="larger-line-height"><a href="film/{{ film.id }}"><h3>{{ film.name }} ({{ film.release_year }})</h3></a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}