{% if session.username %}
{% extends "layout.html" %}
{% block body %}
    <p>Olet kirjautunut nimellä {{ session.username }}</p>
{% endblock %}
{% else %}
    {% if message %}
    <p class="message">{{ message | safe }}</p>
    {% endif %}
    <form action="/" method="POST" novalidate>
        {{ form.csrf_token }}
        <p>Tunnus:<br>
        {{ form.username }}
        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}</p>
        <p>Salasana:<br>
        {{ form.password }}
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}</p>
        {{ form.submit }}
    </form>
{% endif %}