<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <title>Huitsin Nevadan yliopiston elokuvakerho</title>
        </head>

        <body>
            <h1>Huitsin Nevadan yliopiston elokuvakerho</h1>
            <ul>
                <li><a href="{{ url_for('index') }}">Etusivu</a></li>
                <li><a href="{{ url_for('films') }}">Elokuvat</a></li>
                <li><a href="{{ url_for('member',  username=session.username) }}">Omat sivut</a></li>
                <li><a href="{{ url_for('admin') }}">Admin</a></li>
                <li><a href="{{ url_for('logout') }}">Kirjaudu ulos</a></li>

            </ul>
        {% block body %}
            <p>
	
            </p>
        {% endblock %}
        </body>
    </html>