{% extends "layout.html" %}
{% block body %}
<div class="wrapper">
    {% if session.username %}
    <div class="content">
        <header>
            <h2>{{ name }}</h2> 
        </header>
        <div class="boxed">
            <h3>Käyttäjätunnus: </h3>  {{ username }}
        </div>
        <div class="boxed">
            <h3>Sähköposti: </h3> {{ email }}
        </div>
        <div class="boxed">
            <h3>Lainassa: </h3>
            {% for film in films %}
                {{ film.name }} ({{ film.release_year }}) </br>
            {% endfor %}  
        </div>
    </div>  
    {% endif %}
</div>
{% endblock %}