{% extends "layout.html" %}
{% block body %}
<div class="wrapper">
    {% if session.username %}
    <div class="content">
        <header>
            <h2>{{ name }}</h2> 
        </header>
        <div class="boxed">
            <h3>Käyttäjätunnus: </h3>  {{ username }}
        </div>
        <div class="boxed">
            <h3>Sähköposti: </h3> {{ email }}
        </div>
        <div class="boxed">
            <h3>Lainassa: </h3>
            <ul>
                {% for film in films %}
                <li>{{ film.name }} ({{ film.release_year }})</li>
                {% endfor %}  
            </ul>
        </div>
        <div class="boxed">
            <h3>Arvostelut: </h3>
            <ul>
                {% for review in reviews %}
                <li><a href=" {{ url_for('reviews', id=review.film_id, _anchor=review.review_id) }}">{{ review.name }} ({{ review.release_year }})</a></li>
                {% endfor %}  
            </ul>
        </div>
    </div>  
    {% endif %}
</div>
{% endblock %}