{% extends "layout.html" %}
{% block body %}
<div class="wrapper">
    {% if session.username %}
    <div class="content">
        <header>
            <h2>Jäsenet</h2>
            <br>
            <a href="{{url_for('add_member')}}"><button class="button">Lisää jäsen</button></a>
        </header>
        <div class="listing">
            <table>
                {% for member in members %}
                <tr>
                    <td class="larger-line-height"><a href="member/{{ member.username }}"><h3>{{ member.username }}</h3></a></td>
                </tr>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
   
    

