{% extends "layout.html" %}

{% block body %}
<div class ="container">
    {% if message %}
        <p class="message">{{ message | safe }}</p>
    {% endif %}
    <p>Kaikki kentät tulee täyttää</p>
    <form action="/submit" method="POST">
        <div class="form-group">
            <h3>Elokuvan nimi:</h3>
            <input type="text" name="name">
        </div>
        <div class="form-group">
            <h3>Elokuvan genre:</h3>
            <input type="text" name="genre">
        </div>
        <div class="form-group">
            <h3>Julkaisuvuosi:</h3>
            <input type="number" name="release_year">
        </div>
        <div class="form-group">
            <h3>Kuvaus:</h3>
            <textarea name="description" id="" cols="30" rows="10"></textarea>
        </div>
        <input type="submit" value="Lisää elokuva" class="btn" />
    </form>
</div>
{% endblock %}