{% extends "layout.html" %}
{% block body %}
<div class="wrapper">
    {% if session.username %}
    <div class="content">
        <header>
            <h2>{{ film_name }}</h2>
        </header>
        <h3 class="centered">Arvostele elokuva </h3>
        {% if form %}
        <div class="form">
            <form action="{{url_for('reviews', id=id)}}" method="POST">
                {{ form.csrf_token }}
                <div class="form-group">
                    <h4>Tähdet: </h4>
                        {% for subfield in form.stars %}
                            <tr>
                                <td>{{ subfield }}</td>
                                <td>{{ subfield.label }}</td>
                            </tr>
                        {% endfor %}
                    </p>
                </div>
                <div class="form-group">
                    <h4>Arvostelu:</h4>
                    {{ form.text(cols=55, rows=10, class="form-field") }}
                </div>
                {{ form.film_id }}
                <div class="submit">{{ form.submit(class="button") }}</div>
            </form>
        </div>
        {% endif %}
        {% if message %}
        <div class="review-submitted">
            <p class="text-block">{{ message | safe }}</p>
        </div>
        {% endif %}
        <hr>
        <br>
        <h3 class="centered">Arvostelut </h3>
        <p class="text-block">{{ stats | safe }}</p>
        {% for review in reviews %}
        <div class="boxed" id={{ review.id }}>
            {{ review.date }}<br>
            <b>Arvostelija:</b> <a href="{{url_for('member', username=review.username)}}">{{ review.username }}</a> <br>
            <b>Tähdet:</b> {{ review.stars }}
            <p class="line-breaks">{{ review.text }}</p>
        </div>      
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}